body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header{
	position: relative;
	height: 180px;
}

img{
	max-width: 100%;
}

#newPost{
	position: absolute;
	right: 0;
	top: 0px;	
	border-radius: 70px;
	height: 70px;
	width: 70px;
}

span.tag{
    color: #FFFFFF;
    background: rgb(175, 167, 167);
    border-radius: 5px;
    padding: 3px;
    font-size: 1rem;
    font-weight: bolder;
    word-break: normal;
    margin-right: 5px;
}
span.tag>a{
    color: #FFFFFF;
}

span.tagcloud{
    margin-right: 5px;
}

